.pushmenu {
  background: $blue;
  width: 240px;
  color: white;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  padding-top: 1rem;

  img {
    margin: 0 auto;
  }

  a {
    display: block; /* drops the nav vertically*/
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    padding: 14px;
  }

  a:hover {
    background: $blue;
    color: white;
  }

  a:active {
    background: $blue;
    color: #fff;
  }
}
